<tao-nav></tao-nav>


<div style="padding-top: 72px">
  <div *ngFor="let image of data.shownImages; let index = index">
    <div *ngIf="index%2 == 0 && data.view == 'tiles-1'" style="display: flex; width: 100%; margin-bottom: -5px">
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()">
        <img [src]="image?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && image?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{image.howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+1]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+1]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+1].howrare.rank}}
        </div>
      </div>
    </div>
    <div *ngIf="index%3 == 0 && data.view == 'tiles-2'" style="display: flex; width: 100%; margin-bottom: -5px">
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()">
        <img [src]="image?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && image?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{image.howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+1]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+1]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+1].howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+2]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+2]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+2].howrare.rank}}
        </div>
      </div>
    </div>
    <div *ngIf="index%6 == 0 && data.view == 'tiles-3'" style="display: flex; width: 100%; margin-bottom: -5px">
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()">
        <img [src]="image?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && image?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{image.howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+1]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+1]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+1].howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+2]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+2]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+2].howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+3]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+3]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+3].howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+4]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+4]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+4].howrare.rank}}
        </div>
      </div>
      <div style="position: relative; flex: 1; padding: 5px; cursor: pointer" (click)="data.toggleRarity()" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
        <img [src]="data.shownImages[index+5]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="width: 100%; height: auto;">
        <div
          *ngIf="data?.showRarity && data.shownImages[index+5]?.ordinal_img_url"
          style="font-size: 12px; position: absolute; bottom: 0; right: 0; background: black; color: white; text-align: right; padding: 2px 10px 2px 10px; margin: 0px 10px 15px 0px; border-radius: 40px;">
          <img src="assets/images/howrare.svg" style="width:8px">
          {{data.shownImages[index+5].howrare.rank}}
        </div>
      </div>
    </div>
    <div *ngIf="index%12 == 0 && data.view == 'tiles-4'" style="display: flex; width: 100%">
      <img [src]="image?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;">
      <img [src]="data.shownImages[index+1]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+1]?.ordinal_img_url">
      <img [src]="data.shownImages[index+2]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+2]?.ordinal_img_url">
      <img [src]="data.shownImages[index+3]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+3]?.ordinal_img_url">
      <img [src]="data.shownImages[index+4]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+4]?.ordinal_img_url">
      <img [src]="data.shownImages[index+5]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+5]?.ordinal_img_url">
      <img [src]="data.shownImages[index+6]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+6]?.ordinal_img_url">
      <img [src]="data.shownImages[index+7]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+7]?.ordinal_img_url">
      <img [src]="data.shownImages[index+8]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+8]?.ordinal_img_url">
      <img [src]="data.shownImages[index+9]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+9]?.ordinal_img_url">
      <img [src]="data.shownImages[index+10]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+10]?.ordinal_img_url">
      <img [src]="data.shownImages[index+11]?.ordinal_img_url" [ngStyle]="{'max-width': maxWidth}" style="flex: 1; padding: 5px; height: auto;" *ngIf="data.shownImages[index+11]?.ordinal_img_url">
    </div>
  </div>
</div>

<!--
<div style="margin-top: 80px">
    <ng-container *ngIf="data.shownImages.length > 0">
      <ng-container *ngIf="!data.isSearching">
        <ng-container *ngFor="let image of data.shownImages; let i = index">
          <div *ngIf="data.view == 'tiles-1'">
            <div *ngIf="i%2==0" style="width: 100%; display: flex;">
              <img [src]="image?.ordinal_img_url" [ngClass]="data.showFilterMenu ? 'tiles-1-filter' : 'tiles-1'">
              <img *ngIf="data.shownImages[i+1]?.ordinal_img_url" [src]="data.shownImages[i+1]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-1-filter' : 'tiles-1'">
            </div>
          </div>
          <div *ngIf="data.view == 'tiles-2'">
            <div *ngIf="i%4==0" style="width: 100%; display: flex;">
              <img [src]="image?.ordinal_img_url" [ngClass]="data.showFilterMenu ? 'tiles-2-filter' : 'tiles-2'">
              <img *ngIf="data.shownImages[i+1]?.ordinal_img_url" [src]="data.shownImages[i+1]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-2-filter' : 'tiles-2'">
              <img *ngIf="data.shownImages[i+2]?.ordinal_img_url" [src]="data.shownImages[i+2]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-2-filter' : 'tiles-2'">
              <img *ngIf="data.shownImages[i+3]?.ordinal_img_url" [src]="data.shownImages[i+3]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-2-filter' : 'tiles-2'">
            </div>
          </div>
          <div *ngIf="data.view == 'tiles-3'">
            <div *ngIf="i%8==0" style="width: 100%; display: flex;">
              <img [src]="image?.ordinal_img_url" [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+1]?.ordinal_img_url" [src]="data.shownImages[i+1]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+2]?.ordinal_img_url" [src]="data.shownImages[i+2]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+3]?.ordinal_img_url" [src]="data.shownImages[i+3]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+4]?.ordinal_img_url" [src]="data.shownImages[i+4]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+5]?.ordinal_img_url" [src]="data.shownImages[i+5]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+6]?.ordinal_img_url" [src]="data.shownImages[i+6]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
              <img *ngIf="data.shownImages[i+7]?.ordinal_img_url" [src]="data.shownImages[i+7]?.ordinal_img_url"
                [ngClass]="data.showFilterMenu ? 'tiles-3-filter' : 'tiles-3'">
            </div>
          </div>
        </ng-container>
      </ng-container>
    
      <ng-container *ngIf="data.isSearching">
        <ng-container *ngFor="let image of data.allImages; let i = index">
          <div *ngIf="data.view == 'tiles-1'">
            <div style="width: 100%; display: flex;">
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
            </div>
          </div>
          <div *ngIf="data.view == 'tiles-1'">
            <div style="width: 100%; display: flex;">
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
            </div>
          </div>
          <div *ngIf="data.view == 'tiles-1'">
            <div style="width: 100%; display: flex;">
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
              <tao-skeleton [height]="50">
              </tao-skeleton>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  -->