tao-text {

  .error {
    display: inline;
    font: 16px Avenir, serif;
    font-weight: 300;
    color: #EE9DD3;
  }

  .large-title {
    display: inline;
    font: 60px Avenir, serif;
    font-weight: 300;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .article-title {
    display: inline;
    font: 45px Neuton;
    font-weight: 600;
    color: black;
  }

  .small-title {
    display: inline;
    font: 60px Avenir, serif;
    font-weight: 200;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .small-body {
    display: inline;
    font: 12px Avenir, serif;
    font-weight: 300;
    color: black;
  }

  .body {
    display: inline;
    font: 25px Avenir, serif;
    font-weight: 300;
    color: black;
  }

  .header {
    display: inline;
    font: 50px Avenir, serif;
    font-weight: 400;
    color: black;
  }

  .header-helper {
    display: inline;
    font: 25px Avenir, serif;
    font-weight: 500;
    color: #E2933B;
  }

  .helper {
    display: inline;
    font: 12px Avenir, serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
    opacity: 50%;
  }

  .title {
    display: inline;
    font: 27px Avenir, serif;
    font-weight: 300;
    line-height: 13px;
    color: black;
    line-height: 35px;
  }

  .hero {
    display: inline;
    font: 35px Avenir, serif;
    font-weight: 300;
    line-height: 13px;
    color: black;
    line-height: 35px;
  }

  .action-body {
    display: inline;
    font: 12px Avenir, serif;
    font-weight: 300;
    font-size: 16px;
    font-weight: 400 !important;
    cursor: pointer;
    color: black;
  }

  .link {
    display: inline-block;
    font: 16px Avenir, serif;
    font-weight: 400;
    color: #EE9DD3;
  }

}
