<ng-container *ngIf="navLocation == 'top'">

  <div [ngClass]="router.url == '/gallery' ? 'desktop-nav-container' : 'not-scrolled-desktop-nav-container'">
    <a (click)="goToPage('')">
      <img src="assets/images/abc-logo.svg" class="logo">
    </a>
    <form [formGroup]="form" novalidate action="#" style="display: block; margin: auto; width: 25%; padding-left: 12%; padding-top:3px">
      <div>
        <tao-input
          *ngIf="router.url == '/gallery'"
          formControlName="search"
          [form]="form.controls['search']"
          [label]="'Search (example: monsters)'"
          [icon]="'assets/images/search.png'">
        </tao-input>
      </div>
    </form>
    <div style="margin-left: auto;">
    <!--<img [src]="getFilterIcon()" class="tiles-image" (click)="toggleView()">
    <img src="assets/images/filter.svg" class="filter-image" (click)="toggleFilter()">-->
    </div>
      <tao-button
        style="margin-top: 10px; margin-right: 10px;"
        [text]="'Explore'"
        class="primary"
        [action]="toggleShowExploreMenu.bind(this)"
        [showDownArrow]="true">
      </tao-button>
  </div>

  <div *ngIf="showExploreMenu" class="filter-menu" style="margin-right: 10px; box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.24);
  z-index: 1; background-color: #E2933B; width: 200px; border-radius: 10px; float: right; height: auto;"
  (click)="$event.stopPropagation()">
    <div style="color: white; cursor: pointer; opacity: 0.8; padding-bottom: 15px; border-bottom: 1px solid white">
      <div (click)="goToPage('gallery')" style="display: flex; align-items: center" [ngStyle]="{'opacity': isHoveringArt ? '0.7' : '1'}" (mouseover)="isHoveringArt = true" (mouseout)="isHoveringArt = false">
        <img src="assets/images/crayon-box.svg" style="width: 30px; margin-right: 10px;">
        <span style="display: inline;
        font: 18px Avenir, serif;
        font-weight: 400;
        color: white;">Art Gallery</span>
      </div>
    </div>
    <div style="color: white; cursor: pointer; opacity: 0.8; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid white">
      <div (click)="goToPage('origin')" style="display: flex; align-items: center" [ngStyle]="{'opacity': isHoveringOrigin ? '0.7' : '1'}" (mouseover)="isHoveringOrigin = true" (mouseout)="isHoveringOrigin = false">
        <img src="assets/images/rocket.svg" style="width: 30px; margin-right: 10px;">
        <span style="display: inline;
        font: 18px Avenir, serif;
        font-weight: 400;
        color: white;">Origin Story</span>
      </div>
    </div>
    <div style="color: white; cursor: pointer; opacity: 0.8; padding-top: 15px; margin-bottom: 5px">
      <div (click)="goToPage('abc-ventures')" style="display: flex; align-items: center" [ngStyle]="{'opacity': isHoveringVentures ? '0.7' : '1'}" (mouseover)="isHoveringVentures = true" (mouseout)="isHoveringVentures = false">
        <img src="assets/images/whale.svg" style="width: 30px; margin-right: 10px;">
        <span style="display: inline;
        font: 18px Avenir, serif;
        font-weight: 400;
        color: white;">ABC Ventures</span>
      </div>
    </div>
  </div>

  <div (click)="showExploreMenu = false" style="position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;"></div>

  <!--<div class="filter-menu" [ngStyle]="{'visibility': data.showFilterMenu ? 'visible' : 'hidden'}" style="overflow: auto;">
    <tao-row>
      <img src="assets/images/filter.svg" class="filter-icon">
      <tao-text
        [title]="'Filter'">
      </tao-text>
    </tao-row>
    <ng-container *ngFor="let filter of filters; let i = index">
      <tao-row class="filter-row" (click)="toggleFilterRow(i)">
        <tao-text
          [header]="filter.title">
        </tao-text>
        <img src="assets/images/down-arrow.svg" class="arrow-icon">
      </tao-row>
      <div [ngStyle]="{'display': filters[i].showExpandedFilter ? '' : 'none'}">
        <div *ngFor="let checkbox of filter.items">
          <abc-checkbox
            (click)="selectCheckbox(filter.title, checkbox.name)"
            [items]="[
              {
                viewValue: checkbox.name + ' (' + checkbox.number + ')', value: true
              }
            ]">
          </abc-checkbox>
        </div>
      </div>
    </ng-container>
  </div>-->

  <div class="desktop-back-button-container">
    <a
      *ngIf="showBackButton"
      (click)="goBack()"
      [ngClass]="showBackButton ?
      '' :
      'dont-display'"
      class="desktop-back-button">
      <img
        src="assets/images/left-arrow-white.svg"
        class="desktop-back-button-image">
    </a>
  </div>

</ng-container>

<ng-container *ngIf="navLocation == 'bottom'">

  <div class="mobile-nav-container" *ngIf="!hideMenuButtons">
    <div class="margin-top-15">
      <a (click)="goToPage('dashboard')" class="margin-right-8">
        <img
          [src]="currentPage == '/dashboard' ?
          'assets/images/menu-icons/dashboard-pink.svg' :
          'assets/images/menu-icons/dashboard-white.svg'"
          class="bottom-menu-item">
      </a>
      <a (click)="goToPage('send-receive')" class="margin-left-8 margin-right-8">
        <img
          [src]="currentPage == '/send-receive' ?
          'assets/images/menu-icons/send-bitcoin-pink.svg' :
          'assets/images/menu-icons/send-bitcoin-white.svg'"
          class="bottom-menu-item">
      </a>
      <a (click)="goToPage('swap')" class="margin-left-8 margin-right-8">
        <img
          [src]="currentPage == '/swap' ?
          'assets/images/menu-icons/bitcoin-swap-pink.svg' :
          'assets/images/menu-icons/bitcoin-swap-white.svg'"
          class="bottom-menu-item">
      </a>
      <a (click)="goToPage('settings')" class="margin-left-8">
        <img
          [src]="currentPage == '/settings' ?
          'assets/images/menu-icons/settings-pink.svg' :
          'assets/images/menu-icons/settings-white.svg'"
          class="bottom-menu-item">
      </a>
    </div>
  </div>

  <div class="mobile-title-container">
    <a (click)="goToPage('/')"
      *ngIf="!showBackButton">
      <img src="assets/images/tao-t-black.svg" class="mobile-tao-logo"></a>
    <div class="mobile-title-margin">
      <span *ngIf="title" class="mobile-title">
        {{title}}
      </span>
    </div>
    <a
      (click)="goBack()"
      *ngIf="showBackButton"
      [ngClass]="showBackButton ? '' : 'dont-display'"
      class="mobile-back-button">
      <img class="mobile-back-button-icon" src="assets/images/left-arrow-white.svg"></a>
  </div>

</ng-container>
